@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
body {
  background-color: #242424;
  font-size: clamp(1rem, 10vw, 2rem);
  font-family: 'DotGothic16';
}

.host-message {
  position: relative;
}
.host-message::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 13px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #6A7282;
}

.remote-message {

}

.bubble {
  height: 1%;
  .bubble-1 {
    content: "asd";
    color: white;
    background-color: black;
    width: 100%;
  }  
}
